.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  margin: 0 50px;
}

h2 { color: darkgoldenrod; padding-top: 20px; }

.completed-transactions {
  /* background-color: rgb(253, 253, 253); */
}

.transactions-header, .transaction-item {
  display: flex;
  vertical-align: bottom;
}

.transactions-header-data, .transaction-item-data {
  display: flex;
  width: 95%;
}
.transactions-header-actions, .transaction-item-actions { 
  display: flex;
  width: 5%;
}

.transactions-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.transactions-header-data {
  /* background-color: gainsboro; */
  padding:10px;
}

.transactions-header-date, .transaction-item-date { width: 20%; }
.transactions-header-price, .transaction-item-price { width: 20%; }
.transactions-header-tax, .transaction-item-tax { width: 10%; }
.transactions-header-fraction, .transaction-item-fraction { width: 15%; }
.transactions-header-fraction-tax, .transaction-item-fraction-tax { width: 15%; }
.transactions-header-fraction-price, .transaction-item-fraction-price { width: 20%; }

.transaction-item input { width: 80%; text-align: right; }

.transaction-item-date  { vertical-align: middle; }
.transaction-item-date input { width: 100%; }

.add-bottom { padding-bottom: 50px; }

.transactions-bottom { text-align: left; }
